

<div class='col-md-8 login-form'>
  <h3><strong><span class='glyphicon glyphicon-heart'></span>Login<span class='glyphicon glyphicon-heart'></span></strong></h3>
  <form>
    <label for='username'><strong>UserName: </strong></label>
    <input class='form-control' id='username' ng-model='user.email' type='text'>
    <br>
    <label for='password'><strong>Password: </strong></label>
    <input class='form-control' id='password' ng-model='user.password' type='password'>
    <hr>
    <button ng-click='login()'class='btn btn-primary pull-right'>Login</button>
  </form>
</div>