<div class='registerProfilePage'>
  <div class='editForm'>
    <h1><strong>Register: </strong></h1>    
    <form>
      <label for='firstName'>First Name: </label>
      <input class='form-control' type='text' ng-model='user.names.firstName' placeholder='First Name...'>
      <label for='lastName'>Last Name: </label>
      <input class='form-control' type='text' ng-model='user.names.lastName' placeholder='Last Name...'>
      <label for='username'>Date of Birth: </label>
      <input class='form-control' type='text' ng-model='user.dob' placeholder='Date of Birth...'>
      <label for='lattitude'>Latitude: </label>
      <input class='form-control' type='text' ng-model='user.address.geo.lat' placeholder='Latitude...'>
      <label for='lng'>Longitude: </label>
      <input class='form-control' type='text' ng-model='user.address.geo.lng' placeholder='Longitude...'>
      <label for='phone'>Phone: </label>
      <input class='form-control' type='text' ng-model='user.phone' placeholder='Phone Number...'>
      <label for='email'>Email: </label>
      <input class='form-control' type='text' ng-model='user.email' placeholder='Email...'>
      <label for='slug'>Slug: </label>
      <input class='form-control' type='text' ng-model='user.slug' placeholder='Slug...'>
      <label for='username'>User Name: </label>
      <input class='form-control' type='text' ng-model='user.username' placeholder='User Name...'>
      <label for='username'>User Name: </label>
      <input class='form-control' type='password' ng-model='user.password' placeholder='Password...'>
      <div class='registerBtnContainer'>
        <a href='#/login'><button ng-click='register()' class='editBtn btn btn-success'>Submit</button></a>
        <a href='#/'><button class='editBtn btn btn-warning'>Cancel</button></a>
      </div>
    </form>
  </div>
</div>